<template name="ApplicationLayout">
  <header>
    <title>Chat Room</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </header>

  <body>
    <header>
      <nav role="navigation" class="light-blue lighten-1">
        <div class="nav-wrapper container">
          <a href="/" id="logo-container" class="brand-logo">Chat Room</a>
          <ul class="right">
            <li><a href="/search"><i class="material-icons left">search</i>Find Friends</a></li>
            <li>{{> loginButtons align=right}}</li>
          </ul>
        </div>
      </nav>
    </header>

    <main style="background-color: lightgrey">
      {{> yield}}
    </main>

    <footer class="page-footer light-blue lighten-1">
      <div class="footer-copyright">
        <div class="container">
          <span>@ 2016 Nathanael</span>
        </div>
      </div>
    </footer>
  </body>
</template>