<template name="home">
    {{#if currentUser}}
    <div class="container">
        <div class="section">
            <ul class="pagination">
<!--                <li class="active light-blue darken-1"><a href="#!">Public</a></li>-->
            </ul>
        </div>
        <div class="section">
            <div class="row">
                <div class="card-panel">
                    <h3 class="public-header">Public Chat</h3>
                </div>
            </div>
        </div>
        <div class="section">
            <ul>
                {{#each postList}}
                <li>{{author}}: {{chat}} <!-- Time: {{createdAt}} -->
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="section">
            <form class="col s12 message-form">
                <div class="row">
                    <input id="icon_prefix2" type="text" name="chat" placeholder="Start typing to chat with others!">
                </div>
        <div class="row submit-button">
          <input type="submit" class="waves-effect waves-light btn left">
                </div>
        </form>
    </div>
    </div>
    {{else}}
    <div class="container">
        <div class="section">
            <div class="card-panel">
                <h3>Please create an account and log in to be in the chat room.</h3>
            </div>
        </div>
    </div>
    {{/if}}
</template>